{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": true,
  "insertPragma": false,
  "requirePragma": false
}
